body {
    font-family: 'Poppins', sans-serif;
  }
.container{
    max-width: 100%;
    margin: 0 auto;
    background: #ffffff;
    font-size: 30px;
}
.parallax{
    padding: 100px 35px;
    background: transparent;
}
@font-face {
    font-family: 'glacial_indifferencebold';
    src: url('glacialindifference-bold-webfont.woff2') format('woff2'),
         url('glacialindifference-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'glacial_indifferenceregular';
    src: url('glacialindifference-regular-webfont.woff2') format('woff2'),
         url('glacialindifference-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.intro{
    z-index: 2;
    position: relative;
    color: white;
    text-align: center;
    font-size: 70px;
}
a {
    text-decoration: none !important;
}
a:link {
    color:black;
  }
  a:visited {
    color: black;
  }
  
  a:hover {
    color: gray;
  }
  
  a:active {
    color: lightskyblue;
    text-decoration: none !important;
  }

